<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <section class="formulario_agregar"> 
        <form action="agregar/" method="GET">
            <input type="text" name="add" id="" placeholder="Escriba el nombre del producto">
            <input type="Submit" value="Agregar">
    </form>

    </section>

    <section class="mostrar_todos">
        <ul>
            {% for cliente in clientes %}
            <li>
                {{cliente.nombre}}
            </li>
            {% endfor %}
        </ul>
    </section>

</body>
</html>