<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>

    <p>Agregaste a {{cliente}}</p>
    <!--  
    {% if clientes %}
    <p>articulos encontrados: {{clientes|length}} articulos</p>
    <ul>
        {% for cliente in clientes %}
        <li>
            {{cliente.nombre}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No existe</p>
    {% endif %}
    -->
</body>
</html>