{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="contenedor">
        <header>
            <div class="logo">
                <a href="{% url 'projecto_base:home' %}"><img src="{% static 'images/ur_logo.png' %}" width="100"></a>
            </div>
            <nav class="menu">
                <a href="{% url 'projecto_base:home' %}">Inicio</a></li>
                <a href="{% url 'clientes:clientes' %}">Clientes</a></li>
                <a href="#">Depósito</a></li>
                <a href="#">A Entregar</a>
            </nav> 
        </header>
    
        <section class="main_body">
            {% block content %}
    
            
            
            {% endblock %}
        </section>
    
    
    
    
    </div>

     
    
    <!-- 
    

    <footer class="pie_pag">Footer</footer>
    
    <div class="social_footer">
        <p>Redes</p> 
    </div>
    
    -->
</body>
</html>
