{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'projecto_base:home' %}"><img src="{% static 'images/ur_logo.png '%}" width="100"></a>
        </div>

        <section class="menu_nav">
            <nav class="menu">
                <ul class="lista">
                    <li>
                        <a href="{% url 'projecto_base:home' %}">Inicio</a></li>
                    <li>
                        <a href="{% url 'clientes:clientes' %}">Clientes</a></li>
                    <li>
                        <a href="#">Depósito</a></li>
                    <li>
                        <a href="#">A Entregar</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    
    <section class="main_body">
        {% block content %}

        
        
        {% endblock %}
    </section>

    <footer class="pie_pag">All rights reserved</footer>
    
    <div class="social_footer">
        <p>Redes</p> 
    </div>
    

</body>
</html>
